<h1>Basket</h1>

<table class="products">
  <thead>
    <tr>
      <th>Product name</th>
      <th>qty</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="(id, item) in basket.items">
      <td>{{itemDetails[id].item}}</td>
      <td>{{item.quantity}}</td>
      <td><a ng-click="removeItem(id)"><span class="fa fa-close"></span></a></td>
    </tr>
  </tbody>
</table>

<div class="total">
  <span class="label">Total: </span>
  <span class="amount">{{basket.total | currency:"£"}}</span>
</div>
