
@import "../styles/_variables"



.basket
  float left
  width 20%
  background-color $white
  padding 15px

  > h1
    color $color_mine_shaft_approx
    font-size 30px
    margin-bottom 20px

  .products
    margin-bottom 20px
    width 100%

    th
      font-weight 600
      text-align left
      padding-bottom 10px

    a
      cursor pointer

