@import "styles/_reset"
@import "styles/_base"
@import "styles/_variables"


body
  font 20px/150% "Open Sans", "Lucida Grande", Verdana, sans-serif
  color $color_grey
  background-color $white



header
  background-color $color_mine_shaft_approx
  border-top 1px solid $black
  color $color_light_grey
  font-size 16px
  padding 35px
  padding-bottom 55px
  text-shadow 1px 1px #000
  box-shadow inset 0px -29px 43px -27px black

  h1
    color #fff
    font-size 40px

.main
  padding 20px
  overflow hidden
