
@import "../styles/_variables"


.product_summary_collection
  float left
  width 70%

.product_summary
  background-color $white
  width 25%
  float left
  min-width 220px
  margin-right 20px
  padding 15px
  position relative
  padding-bottom 70px

  .product_title
    color $color_mine_shaft_approx
    font-size 19px
    margin-bottom 15px
    line-height 1.2
    height 2.4em

  .product_image
    width 100%
    margin-bottom 10px

  .product_price
    color $color_japanese_laurel_approx

  .add_to_basket
    position absolute
    height 40px
    background-color $color_bondi_blue_approx
    bottom 15px
    left 15px
    right 15px
    line-height 40px
    text-align center
    text-decoration none
    font-size 15px
    color $white
    border-radius 5px
    font-weight 600
    cursor pointer

    &:hover
      opacity 0.8
